
/*-----------------------------------------------------------------------------------

    Theme Name: Daniels
    Theme URI: http://
    Description: Portfolio Onepage Template
    Author: creativotheme
    Author URI: http://themeforest.net/user/creativotheme
    Version: 1.0

-----------------------------------------------------------------------------------*/


/* ----------------------------------------------------------------

TABLE OF CONTENTS

	01 Global
	02 Navbar
	03 Header
	04 Hero
	05 Services
	06 Portfolio
	07 Clients
	08 Numbers
	09 Blog
	10 Contact
	11 Responsive

---------------------------------------------------------------- */


/* -------------------------------------------------------
                     Global
-------------------------------------------------------- */

$tablet: 767px;
$desk: 991px;

@import "main.css";

body{
	font-family: 'Poppins', sans-serif;
	color: #343434;
	font-weight: 400;
}

.section-padding{
	padding: 100px 0;
}

.section-head{
	margin-bottom: 80px;
	text-align: center;

	h3{
		font-weight: 900;
		font-size: 40px;
		position: relative;
		display: inline-block;
		z-index: 4;

		&:after{
			content: '';
			width: 100%;
			height: 30px;
			background-image: url(../img/dots.png);
			background-repeat: repeat;
			position: absolute;
			bottom: -10px;
			left: 0;
			z-index: -1;
		}
	}
}

.bg-gray{
	background: #f7f7f7;
}

h1, h2, h3, h4, h5, h6, .logo{
	font-family: 'Montserrat', sans-serif;
}

p{
	line-height: 1.6;
	margin: 0;
	font-size: 15px;
	color: #748182;
}

// animate headline

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

@media only screen and (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 1170px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}


/* xclip */

.cd-headline.clip span {
  display: inline-block;
  padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
  /* line */
  content: '';
  position: absolute;
  top: 10%;
  right: 0;
  width: 2px;
  height: 70%;
  background-color: #aebcb9;
}

.cd-headline.clip b {
  opacity: 0;
}

.cd-headline b.is-visible {
  opacity: 1;
}

// buttons

.buton{
	padding: 10px 30px;
	border: 1px solid #1c1c1c;
	border-radius: 5px;
	font-size: 13px;
	transition: all .5s;

	&:hover{
		background: #1c1c1c;
		color: #eee;
	}
}

.buton-bg{
	background: #1c1c1c;
	color: #eee;

	&:hover{
		background: transparent !important;
		color: #343434 !important;
	}
}

/* -------------------------------------------------------
                     Navbar
-------------------------------------------------------- */

.navbar-default{
	padding: 20px 0 30px;
	background: none;
	border:none;
	border-radius: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;

	.navbar-nav>li>a{
		margin: 0!important;
		color: #fff!important;
		padding: 0!important;
		position: relative;
		overflow: hidden;

		&:after{
			content: '';
			width: 0;
			height: 2px;
			background: #fff;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: all .5s;
		}
	}

	.navbar-nav>li{
		font-size: 14px;
		margin: 25px 20px 0;
		padding: 5 10px;
		background: none;
		cursor: pointer;
		position: relative;

		.active{
			background: none;

			&:after{
				width: 100%;
			}
		}
	}
}

.nav-scroll{
	background: #fff;
	box-shadow: 0px 30px 50px rgba(0,0,0,.05);
	min-height: 60px;
	line-height: 60px;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: all .5s;

	.logo{
		padding-top: 2px;
		color: #1c1c1c;

		&:hover, &:focus{
			color: #1c1c1c;
		}
	}

	.navbar-nav>li>a{
		color: #111 !important;

		&:after{
			background: #222;
		}
	}
}

.logo{
	float: left;
	padding-top: 20px;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;

	&:hover, &:focus{
		color: #fff;
	}
}

/* -------------------------------------------------------
                     Header
-------------------------------------------------------- */

.header{
	height: 100vh;
	background-size: cover;
	position: relative;
	overflow: hidden;

	&:after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		//background: transparent;
		background: #000;
		opacity: .65;
		z-index: 2;
	}

	.v-middle{
		z-index: 11;
	}

	.caption{
		text-align: center;
		color: #fff;
		margin-top: 50px;

		h5{
			font-size: 50px;
			font-weight: 800;
			margin-bottom: 10px;
		}

		h1{
			font-weight: 200;

			b{
				font-weight: 400;
			}
		}

		.social-icon{
			margin-top: 30px;

			span{
				font-size: 14px;
				width: 35px;
				height: 35px;
				line-height: 35px;
				border-radius: 50%;
				background: rgba(0,0,0,.3);
			}
		}
	}

	.svg{
		position: absolute;
		bottom: -10px;
		left: 0;
		width: 100%;
		z-index: 22;

		svg{
			fill: #fff;
			width: 101%;
		}
	}
}

#particles-js{
	z-index: 9;
	position: relative;
}

/* -------------------------------------------------------
                     Hero
-------------------------------------------------------- */

.hero{

	.hero-img{
		padding: 0 0 0 30px;
		position: relative;

		&:after{
			content: '';
			width: 80%;
			height: 80%;
			position: absolute;
			left: 0px;
			bottom: -30px;
			background-image: url(../img/dots.png);
			background-repeat: repeat;
			z-index: -1;
		}
	}

	.content{

		h3{
			font-weight: 800;
			margin-bottom: 5px;
		}

		.sub-title{
			color: #999;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-bottom: 20px;
		}
	}

	.skills{
		margin-top: 30px;

		.item{
			margin-bottom: 30px;
		}

		h6{
			font-size: 13px;
			color: #fff;
			position: relative;
			z-index: 2;
		}

		.skills-progress{
			width: 100%;
			padding: 5px 10px;
			border-radius: 5px;
			background: #f7f7f7;
			box-shadow: 0px 2px 7px rgba(0,0,0,0.15) inset;
			position: relative;

			span{
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 10%;
				border-radius: 5px;
				background-color: #1c1c1c;
				transition: all 1s;

				&:after{
					content: attr(data-value);
					position: absolute;
					top: 6px;
					right: 10px;
					font-size: 11px;
					color: #fff;
				}
			}
		}
	}

	.buton{
		margin-top: 20px;
	}
}

/* -------------------------------------------------------
                     Services
-------------------------------------------------------- */

.services{

	.item{
		padding: 50px 20px;
		background: #fff;
		box-shadow: 0px 10px 30px -8px rgba(0,0,0,.1);
		margin-bottom: 30px;
		border-radius: 5px;

		&:hover{

			.icon{
				background: #1c1c1c;
				color: #eee;
			}
		}

		.icon{
			font-size: 30px;
			margin-bottom: 20px;
			width: 70px;
			height: 70px;
			line-height: 70px;
			background: #f4f4f4;
			border-radius: 50%;
			transition: all .5s;
		}

		h6{
			margin-bottom: 15px;
			font-weight: 800;
			font-size: 18px;
		}

		p{
			word-spacing: 2px;
			font-size: 14px;
		}
	}
}

/* -------------------------------------------------------
                     Portfolio
-------------------------------------------------------- */

.portfolio{
	overflow: hidden;

	.filtering{

		span{
			margin: 0 15px;
			color: #222;
			font-weight: 700;
			font-size: 16px;
			cursor: pointer;
			position: relative;
			z-index: 2;

			&:before{
				content: "";
				width: 0;
				height: 2px;
				background: #111;
				position: absolute;
				left: 0;
				bottom: -5px;
				transition: all .4s;
				z-index: -1;
			}
		}

		.active{

			&:before{
				width: 95%;
			}
		}
	}

	.items{
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.item-img{
		position: relative;
		overflow: hidden;

		&:hover .item-img-overlay{
			opacity: 1;
			transform: translateY(0);
		}

		&:hover h6, &:hover .icons{
			transform: translateY(0);
		}

		h6{
			font-size: 12px;
			font-weight: 700;
			letter-spacing: 2px;
			position: relative;
			margin-bottom: 15px;
			transform: translateY(-15px);
			transition: all .5s;
		}

		.icon{

			i{
				display: inline-block;
				width: 30px;
				height: 30px;
				line-height: 28px;
				border-radius: 50%;
				border: 1px solid #111;
				background: #111;
				color: #eee;

				&:hover{
					background: transparent;
					color: #000;
				}
			}
		}
	}

	.item-img-overlay{
		position: absolute;
		top: 5px;
		left: 5px;
		right: 5px;
		bottom: 5px;
		background: rgba(255,255,255,.95);
		opacity: 0;
		transition: all .5s;
		z-index: 2;
		transform: translateY(10px);
	}
}
/* -------------------------------------------------------
                     Clients
-------------------------------------------------------- */

.clients{

	.citem{

		.author-img{
			width: 90px;
			height: 90px;
			border-radius: 50%;
			overflow: hidden;
			margin: 0 auto 15px;
		}

		p{
			word-spacing: 2px;
		}

		h6{
			font-size: 16px;
			font-weight: 600;
			margin: 30px 0 5px;
		}

		span{
			font-size: 12px;
			font-weight: 600;
			color: #888;
			margin-bottom: 30px;
		}
	}
}

/* -------------------------------------------------------
                     Numbers
-------------------------------------------------------- */

.numbers{

	.icon{
		font-size: 30px;
		margin-bottom: 15px;
	}

	h3{
		font-weight: 900;
		margin-bottom: 15px
	}

	p{
		font-weight: 600;
		margin-bottom: 30px;
	}
}

/* -------------------------------------------------------
                     Blog
-------------------------------------------------------- */

.blog{

	.pitem{
		margin-bottom: 30px;
		box-shadow: 0px 10px 30px -8px rgba(0,0,0,.1);

		.post-img{
			overflow: hidden;

			&:hover{

				img{
					transform: scale(1.15);
				}
			}
		}

		img{
			transition: all .5s;
		}

		.content{
			background: #fff;
			padding: 30px 15px;
		}

		.tag{
			font-size: 12px;
			font-weight: 600;
			color: #888;
			margin-bottom: 10px;
		}

		h4{
			font-weight: 800;
			font-size: 20px;
			line-height: 1.6;
			margin-bottom: 15px;
		}

		.more{
			border-bottom: 2px solid #333;
		}
	}
}

// Blog Page

.blog-nav{
	position: static !important;
	background: #fff !important;
	margin: 0;

	.logo{
		color: #1c1c1c !important;
	}

	.navbar-nav{

		li{

			a{
				color: #1c1c1c !important;
				font-weight: 500;
			}
		}
	}
}

.min-header{
	height: 40vh;
	background: #1c1c1c;
	position: relative;

	h5{
		font-weight: 800;
		letter-spacing: 1px;
		color: #ccc;
		margin-bottom: 15px;
	}

	a{
		position: relative;
		color: #ddd;

		&:after{
			content: '/';
			position: relative;
			margin: 0 10px;
		}

		&:last-child{

			&:after{
				display: none;
			}
		}
	}
}

.blogs{

	.posts{

		.post{
			margin-bottom: 50px;
			border-bottom: 1px solid #eee;

			.content{
				padding: 50px 15px;
				background: #fff;

				.post-title{

					h5{
						font-weight: 700;
						font-size: 20px;
						line-height: 1.6;
						margin-bottom: 10px;
					}
				}

				.meta{
					margin-bottom: 20px;

					li{
						display: inline-block;
						font-size: 12px;
						color: #777;
						margin: 5px;
					}
				}

				p{
					font-weight: 300;
				}

				.spical{
					padding: 15px;
					margin: 30px 0;
					border-left: 2px solid #111;
					background: #f7f7f7;
					font-size: 16px;
				}

				.butn{
					display: inline-block;
					margin-top: 30px;
					padding: 8px 30px;
					border: 2px solid #ddd;
					font-weight: 500;
					transition: all .5s;

					&:hover{
						background: #1c1c1c;
						border-color: #1c1c1c;
						color: #fff;
					}
				}
			}

			.share-post{
				margin-top: 30px;
				padding-top: 20px;
				border-top: 1px dashed #eee;
				text-align: left;

				span{
					font-weight: 700;
				}

				ul{
					float: right;

					li{
						display: inline-block;
						margin: 0 10px;
					}
				}
			}
		}

		.title-g{

			h3{
				font-weight: 800;
				font-size: 25px;
			}
		}

		.comments-area{

			.comment-box{
				padding-bottom: 30px;
				margin-bottom: 50px;
				border-bottom: 1px solid #eee;

				&:nth-child(odd){
					margin-left: 80px;
				}

				&:last-child{
					margin-bottom: 0;
				}

				.author-thumb{
					width: 80px;
					float: left;
				}

				.comment-info{
					margin-left: 100px;

					h6{
						font-size: 14px;
						font-weight: 600;
						margin-bottom: 10px;
					}

					.reply{
						margin-top: 10px;
						font-weight: 600;

						i{
							padding-right: 5px;
							font-size: 12px;
						}
					}
				}
			}
		}

		.comment-form{

			.form{

				input[type='text'],
				input[type='email'],
				textarea{
					width: 100%;
					border: 0;
					border-radius: 5px;
					padding: 10px;
					background: #f4f4f4;
				}

				textarea{
					height: 160px;
					max-height: 160px;
					max-width: 100%;
				}

				.buton{
					padding: 10px 40px;
					width: 100%;
				}
			}
		}

		.pagination{
			display: block;
			text-align: center;

			li{
				display: inline-block;
				padding: 5px 10px;
				margin: 2px;
				border: 1px solid #ddd;
			}
		}
	}

	.side-bar{

		.widget{
			margin-bottom: 50px;

			&:last-child{
				margin-bottom: 0;
			}

			.widget-title{
				border-bottom: 1px solid #eee;
				margin-bottom: 30px;

				h6{
					position: relative;
					padding-bottom: 15px;
					font-size: 13px;
					font-weight: 600;
					letter-spacing: 1px;
					text-transform: uppercase;

					&:after{
						content: '';
						width: 30px;
						height: 1px;
						background: #000;
						position: absolute;
						bottom: 0;
						left: 0;
					}
				}
			}

			li{
				margin-bottom: 10px;
				color: #777;

				&:last-child{
					margin: 0;
				}
			}
		}

		.search{

			form{

				input{
					width: calc(100% - 52px);
					height: 50px;
					padding: 0 10px;
					border: 0;
					background: #f7f7f7;
				}

				button{
					width: 50px;
					height: 50px;
					line-height: 50px;
					background: #1c1c1c;
					color: #fff;
					border: 0;
					float: right;
				}
			}
		}
	}
}

/* -------------------------------------------------------
                     Contact
-------------------------------------------------------- */

.contact{

	.info{

		.item{
			margin-bottom: 30px;

			&:hover{

				.icon{
					background: #1c1c1c;
					color: #eee;
				}
			}

			.icon{
				font-size: 25px;
				margin-bottom: 15px;
				width: 60px;
				height: 60px;
				line-height: 60px;
				background: #f4f4f4;
				border-radius: 50%;
				transition: all .5s;
			}

			h6{
				font-weight: 700;
				margin-bottom: 10px;
			}
		}
	}

	.form{

		input[type='text'],
		input[type='email'],
		textarea{
			width: 100%;
			border: 0;
			border-radius: 5px;
			padding: 10px;
			background: #f4f4f4;
		}

		textarea{
			height: 160px;
			max-height: 160px;
			max-width: 100%;
		}

		.buton{
			padding: 10px 40px;
		}
	}
}

/* -------------------------------------------------------
                     Footer
-------------------------------------------------------- */

footer{
	background: #1c1c1c;
	padding: 30px;

	p{
		font-size: 13px;
		word-spacing: 2px;
	}
}

/* -------------------------------------------------------
                     Pages
-------------------------------------------------------- */

// 404 Error

.error{
	height: 100vh;
	color: #fff;

	h2{
		font-size: 100px;
		font-weight: 800;
		margin-bottom: 15px;
	}

	h5{
		margin-bottom: 30px;
		font-weight: 300;
	}

	p{
		color: #eee;
		margin-bottom: 10px;
	}

	input{
		padding: 10px;
		width: 500px;
		background: transparent;
		border: 1px solid #eee;
		border-radius: 4px;
		margin-bottom: 30px;
	}
}

/* -------------------------------------------------------
                    Responsive
-------------------------------------------------------- */

@media screen and (max-width: $tablet){

	.navbar-default{

		.logo{
			margin-left: 20px;
		}

		.navbar-toggle{
			background: none !important;
			margin-top: 15px !important;
			border: none !important;

			&:hover, &:focus{
				background: transparent !important;
			}

			.icon-bar{
				background: #fff;
			}
		}

		.navbar-nav>li{
			line-height: 0;
		}

		.navbar-nav>li>a{
			padding-bottom: 0 !important;
			color: #111 !important;
			display: inline-block;
		}

		.navbar-collapse{
			text-align: center;
			border: none;
			border-top: 1px solid rgba(12,12,12,.04);
			background: #fff;
			margin-top: 5px;
			padding-bottom: 15px;
		}
	}

	.nav-scroll{

		.navbar-toggle{

			.icon-bar{
				background: #111;
			}
		}
	}

	.portfolio{

		.items{
			width: 100%;
		}
	}
}

@media screen and (max-width: $desk){

	.navbar-default{

		.navbar-nav>li{
			    margin: 25px 15px 0;
			    font-size: 13px;
		}
	}

	.hero{

		.hero-img{
			margin-bottom: 80px !important;
		}
	}

	.side-bar{
		margin-top: 80px;
	}
}

/* -------------------------------------------------------
                    End
-------------------------------------------------------- */
